body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

.TodoList {
  background: #333;
  color: #f3f3f3;

  padding: 2em;
  border-radius: 15px;
}

.Items {
  padding-top: 1em;
}

.Item {
  display: flex;

  justify-content: space-between;
}

.Item > div:first-child {
  flex-grow: 1;
} 